<h1>Guests</h1>
<% @guests.each do |guest| %>
  <p><h3><%= guest.name%></h3></p>
  <p>age: <%=guest.age%></p>
  <p>new member: <%=guest.new%></p>
  <p>member of library: <%=guest.library_id%></p>
<% end %>
