<h2><a href="/books">Books</a></h2>
<h2><a href="/authors">Authors</a></h2>
<%= link_to "New Author", "/authors/new" %>
<h1>Authors<h1/>

<% @authors.order_by.each do |author| %>
  <p><h3><%= author.name %></h3></p>
  <p><h4>Created at: <%= author.created_at %></h4></p>
<% end %>
