<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<% @guests.each do |guest| %>
  <p><h2><%=guest.name%></h2></p>
  <p>age: <%=guest.age%></p>
  <p>New guest? <%=guest.new%></p>
<% end %>
