<h2><a href="/books">Books</a></h2>
<h2><a href="/authors">Authors</a></h2>
<h1>Welcome to the Center of Knowledge</h1>
<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<img src="http://www.reactiongifs.com/r/2013/10/tim-and-eric-mind-blown.gif" alt="Knowledge Center" style="width:600px;height:600px;">
