<h2><a href="/books">Books</a></h2>
<h2><a href="/authors">Authors</a></h2>
<% @books.each do |book| %>
<p><%= book.name %></p>
<p><%= book.hardcover %></p>
<p><%= book.pages %></p>
<p><%= book.genre %></p>
<% end %>
